footer
	a.link(
		href="https://github.com/whitesgr03/local-file-uploader",
		alt="Local File Uploader github repository",
		rel="noreferrer",
		target="_blank",
		aria-label="visit project repository"
	)
		span.icon.github
	address
		a(href="mailto:whitesgr03@gmail.com")
			span.icon.email
			em whitesgr03@gmail.com
	p &copy; 2024 Designed &amp; coded by Weiss Bai
