doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(
			rel="icon",
			type="image/png",
			sizes="32x32",
			href="/images/favicon-32x32.png"
		)

		link(
			rel="icon",
			type="image/png",
			sizes="16x16",
			href="/images/favicon-16x16.png"
		)

		link(rel="preconnect", href="https://fonts.googleapis.com")
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(
			rel="stylesheet",
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap"
		)
		link(
			rel="stylesheet",
			href="https://necolas.github.io/normalize.css/latest/normalize.css"
		)
		link(rel="stylesheet", href="/stylesheets/index.css", nonce=cspNonce)
		link(rel="stylesheet", href="/stylesheets/layout_header.css", nonce=cspNonce)
		link(rel="stylesheet", href="/stylesheets/layout_footer.css", nonce=cspNonce)
		link(
			rel="stylesheet",
			href="/stylesheets/layout_mobile-nav.css",
			nonce=cspNonce
		)
		script(
			type="text/javascript",
			src="/javascripts/handle_color_theme.js",
			nonce=cspNonce,
			defer
		)
		script(
			type="text/javascript",
			src="/javascripts/index.js",
			nonce=cspNonce,
			defer
		)
		block head
		title Local Drive
	body
		.app
			include layout_header
			.container
				main
					block content
				include layout_footer
			include layout_mobile-nav
