extends layout

block head
	link(rel="stylesheet", href="/stylesheets/user_form.css", nonce=cspNonce)

block content
	.userForm
		h3.title User Sign In
		.container
			form(method="POST")
				input(name="csrfToken", type="hidden", value=csrfToken)
				div
					label(for="email", class=inputErrors && inputErrors.email ? "error" : "") Email
					input#email(
						type="text",
						name="email",
						value=user ? user.email : "",
						title="The email is required and must be standard format.",
						required
					)
					.placeholder
						span.icon.alert
						p= inputErrors && inputErrors.email ? inputErrors.email.msg : "Message placeholder"
				div
					label(
						for="password",
						class=inputErrors && inputErrors.password ? "error" : ""
					) Password
					input#password(
						type="password",
						name="password",
						value=user ? user.password : "",
						title="The password is required.",
						required
					)
					.placeholder
						span.icon.alert
						p= inputErrors && inputErrors.password ? inputErrors.password.msg : "Message placeholder"
				button(type="submit") Login
			hr
			.linkWrap
				p New to HeLog?
				a(href="/account/register") Create an account
