extends layout

block head
	link(rel="stylesheet", href="/stylesheets/user_form.css", nonce=cspNonce)

block content
	.userForm
		h3.title User Register
		.container
			form(method="POST")
				input(name="csrfToken", type="hidden", value=csrfToken)
				div
					label(for="email", class=inputErrors && inputErrors.email ? "error" : "") Email
						input#email(
							type="text",
							name="email",
							value=data ? data.email : "",
							title="The email is required and must be standard format.",
							required
						)
					.placeholder
						span.icon.alert
						p= inputErrors && inputErrors.email ? inputErrors.email.msg : "Message placeholder"
				div
					label(
						for="password",
						class=inputErrors && inputErrors.password ? "error" : ""
					) Password
						input#password(
							type="password",
							name="password",
							value=data ? data.password : "",
							title="The password is required.",
							required
						)
					.placeholder
						span.icon.alert
						p= inputErrors && inputErrors.password ? inputErrors.password.msg : "Message placeholder"
				div
					label(
						for="confirmPassword",
						class=inputErrors && inputErrors.confirmPassword ? "error" : ""
					) Confirm Password
						input#confirmPassword(
							type="password",
							name="confirmPassword",
							value=data ? data.confirmPassword : "",
							title="The confirm password must be the same as the password.",
							required
						) 
					.placeholder
						span.icon.alert
						p= inputErrors && inputErrors.confirmPassword ? inputErrors.confirmPassword.msg : "Message placeholder"
				button(type="submit") Register
			hr
			.linkWrap
				p Already have an account?
				a(href="/account/login") Login in
